<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" type="image/x-icon" href="images/favicon-32x32.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Land Registry Demo</title>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="js/lib/slick/slick.css">
    <link rel="stylesheet" href="js/lib/slick/slick-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/color.css">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <div id="loader-gen-wrapper" style="display: none">
        <div id="loader-gen-background"></div>
        <div class="loader-section"></div>
    </div>

    <div class="wrapper">

        <header>

            <div class="header shd">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="01_Home.html">
                                    <img id="logo" src="images/logo.png" width="150" height="100" alt="">
                                </a>
                                <button class="menu-button" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                    <span class="icon-spar"></span>
                                </button>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header><!--header end-->

        <section class="pager-sec bfr">
            <div class="container">
                <div class="pager-sec-details">
                    <h3>Reset Password</h3>
                </div><!--pager-sec-details end-->
            </div>
        </section>

        <section class="about-sec pt">
            <div class="container">
                <div class="about-us-sec">
                    <div class="row">
                        <span id="message_show" style="display: none">The Link has been expired! please try again</span>
                        <div class="col-lg-12">
                            <div class="about-info">
                                <h3 id="welcome_name">Welcome </h3>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">
                                        <form id="reset_password_form">
                                            <div class="form-field">
                                                <div class="form-field">
                                                    <input type="password" id="password" name="password"
                                                        placeholder="Password">
                                                </div>
                                                <div class="form-field">
                                                    <input type="password" id="cnfpassword" name="cnfpassword"
                                                        placeholder="Confirm Password">
                                                </div>
                                                <button type="submit" class="btn2 direct_signInBtn"
                                                    id="reset_password_btn">Submit</button>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4"></div>
                                </div>
                                <!-- <h4>Leading real estate and rental theme dedicated to grow your sales</h4>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus asit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor.</p>
                                    <a href="#" class="btn-default view-btn"><i class="icon-arrow-right-circle"></i>View for rent</a> -->
                            </div><!--about-info end-->
                        </div>
                    </div>
                </div><!-- about-us-sec end-->
            </div>
        </section><!--about-sec end-->



        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer-content">
                            <div class="row justify-content-between">
                                <div class="col-xl-6 col-md-6">
                                    <div class="copyright">
                                        <p>&copy; Land Registry Demo. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="footer-social">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </div><!--wrapper end-->






    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/modernizr-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lib/slick/slick.js"></script>
    <script src="js/events.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"
        integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
    <script src="js/resetPassword.js"></script>

</body>

</html>