<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <!-- <title>Land Registry Demo | Land Details</title> -->
    <title>Land Registry Demo</title>
    <link rel="icon" type="image/x-icon" href="../../images/favicon-32x32.png">
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({

            google: {
                "families": [
                    "Poppins:300,400,500,600,700"]
            },

            active: function () {

                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <!--RTL version:<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="../assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="../assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="../assets/demo/default/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/demo/default/skins/header/base/light.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="../assets/demo/default/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/demo/default/skins/header/menu/light.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="../assets/demo/default/skins/brand/navy.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/demo/default/skins/brand/navy.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="../assets/demo/default/skins/aside/navy.css" rel="stylesheet" type="text/css" />
    <!--RTL version:<link href="assets/demo/default/skins/aside/navy.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Layout Skins -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- end::Head -->
    <!-- begin::Body -->

<body id="cert_body"
    class="body_div_clas kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">
    <div class="display-loader">
        <div class="loader">
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
    <div id="loader-gen-wrapper" style="display: none">
        <div id="loader-gen-background"></div>
        <div class="loader-section"></div>
    </div>
    <!-- begin:: Root -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <!-- begin:: Wrapper -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_wrapper">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                    <!-- begin:: Content -->
                    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                        <!--begin::Dashboard 1-->

                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row pdf_content" id="pdf_content">
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-10 col-xl-10 order-lg-3 order-xl-1 cert_div_main">
                                <!--begin: Personal Information-->
                                <div class="tab-pane fade show active" id="kt_profile_tab_personal_information"
                                    role="tabpanel">
                                    <div class="kt-portlet border_main" style="display: none;">
                                        <div class="header_section_div ">
                                            <h1 class="">
                                                THE UNITED REPUBLIC OF TANZANIA
                                            </h1>
                                            <div class="row">
                                                <div class="col-lg-4 qrcode_div">
                                                    <div id="qrcode"></div>
                                                </div>
                                                <div class="col-lg-4 certi_logo_div">
                                                    <img src="../../images/logo_tan.png" />
                                                </div>
                                                <div class="col-lg-4">

                                                </div>
                                            </div>
                                        </div>
                                        <img class="border_div" src="../../images/border_line.png" />
                                        <div class="body_section_div ">
                                            <h1 class="">
                                                THE LAND ACT, 1999
                                            </h1>
                                            <div class="certify_text">
                                                <p> This is to certify that:</p>
                                            </div>
                                            <div class="name_text_div">
                                                <h1 class="name_text"> Husain Khanbahadur</h1>
                                                <p> Record ID: <span class="record_text">235423523</span></p>
                                            </div>
                                            <div class="para_text">
                                                <p> Has in accordance with the Land Act of The United Republican of
                                                    Tanzania<br> (NO. 4 OF 1999), has been awarded the Land Area as
                                                    indicated Below.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6  row ">
                                                    <div class="col-lg-4">

                                                    </div>
                                                    <div class="col-lg-8 ">

                                                    </div>
                                                </div>
                                                <div class="col-lg-6">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6  row ">
                                                    <div class="col-lg-2">

                                                    </div>
                                                    <div class="col-lg-10 notary_date_div">
                                                        <table>
                                                            <tr>
                                                                <td class="details_table_heading">
                                                                    <p>Area </p>
                                                                </td>
                                                                <td>
                                                                    <p class="area_text">124.23 sq.m</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="details_table_heading">
                                                                    <p>Date of Notary </p>
                                                                </td>
                                                                <td>
                                                                    <p class="notary_date_text">21 Dec 2018</p>
                                                                </td>
                                                            </tr>
                                                            <tr class="term_row">
                                                                <td class="details_table_heading">
                                                                    <p>Term </p>
                                                                </td>
                                                                <td>
                                                                    <p class="term_text">22 years</p>
                                                                </td>
                                                            </tr>
                                                            <tr class="expiry_row">
                                                                <td class="details_table_heading">
                                                                    <p>Expiration Date </p>
                                                                </td>
                                                                <td>
                                                                    <p class="expiration_date_text">22 Dec 2040</p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <!-- <p>Area: <span class="area_text">124.23 sq.m</span></p>
                                                            <p>Date of Notary: <span class="notary_date_text">21 Dec 2018</span></p>
                                                            <p>Term: <span class="term_text">22 years</span></p>
                                                            <p>Expiration Date: <span class="area_text">22 Dec 2040</span></p> -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 sign_div">
                                                    <img src="../../images/registrar_sign.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <img class="border_div" src="../../images/border_line.png" />
                                        <div class="footer_section_div">
                                            <div class="row">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-5 points_div">
                                                    <h3 class="table_heading_text"> Table Of GPS Coordinates</h3>
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped table-hover"
                                                            id="lat_lng_table">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Marking Points</th>
                                                                    <th>Latitude</th>
                                                                    <th>Longitude</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="lat_lng_table_body">

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 map_div">
                                                    <h3 class="table_heading_text"> Land Area Sketch (in Sq.m)</h3>
                                                    <div id="certificate-map-marker" style="height: 200px"></div>
                                                    <div id="legend"></div>
                                                    <input type="hidden" step="any" id="array_lat_lng_text"
                                                        class="form-control" placeholder="Search Address">
                                                    <input type="hidden" step="any" id="lat_input_text"
                                                        class="form-control" placeholder="Search Address">
                                                    <input type="hidden" step="any" id="lng_input_text"
                                                        class="form-control" placeholder="Search Address">
                                                    <input type="hidden" step="any" id="map_zoom" class="form-control"
                                                        placeholder="Search Address">
                                                </div>
                                                <div class="col-lg-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Personal Information-->
                            </div>

                        </div>
                        <div class="col-lg-12 col-xl-12 footer_button_checklist">
                            <a download id="print_btn" class="btn btn-primary">Download PDF</a>
                            <button type="button" id="go_back_btn" class="btn btn-success">Go Back</button>
                        </div>
                        <!-- <button id="preview_print_btn">print</button> -->
                        <!--end::Row-->
                        <!--end::Dashboard 1-->

                    </div>
                    <!-- end:: Content -->
                </div>
                <!-- begin:: Footer -->
                <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
                    <div class="kt-footer__copyright"> 2018&nbsp;&copy;&nbsp;<a href="#" target="_blank"
                            class="kt-link">Land Registry Demo</a> </div>
                    <!-- <div class="kt-footer__menu"> <a href="#" target="_blank"
                            class="kt-footer__menu-link kt-link">About</a> <a href="#"
                            target="_blank" class="kt-footer__menu-link kt-link">Team</a> <a
                            href="#" target="_blank"
                            class="kt-footer__menu-link kt-link">Contact</a> </div> -->
                </div>
                <!-- end:: Footer -->
            </div>
            <!-- end:: Wrapper -->
        </div>
        <!-- end:: Page -->
    </div>
    <!-- end:: Root -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {

            "colors": {

                "state": {

                    "brand": "#5d78ff",

                    "metal": "#c4c5d6",

                    "light": "#ffffff",

                    "accent": "#00c5dc",

                    "primary": "#5867dd",

                    "success": "#34bfa3",

                    "info": "#36a3f7",

                    "warning": "#ffb822",

                    "danger": "#fd3995",

                    "focus": "#9816f4"
                },

                "base": {

                    "label": [

                        "#c5cbe3",

                        "#a1a8c3",

                        "#3d4465",

                        "#3e4466"
                    ],

                    "shape": [

                        "#f0f3ff",

                        "#d9dffa",

                        "#afb4d4",

                        "#646c9a"
                    ]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="../../js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/events.js"></script>
    <script src="../assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="../assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/map-cluster/cerificatelandmap.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAofX76hfImORJU_rsNCEapJF7yHDGT8n0&libraries=places&callback=mapinit2"></script>

    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    <!-- <script src="../assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script> -->
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"
        integrity="sha256-c3RzsUWg+y2XljunEQS0LqWdQ04X1D3j22fd/8JCAKw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"
        integrity="sha256-gJWdmuCRBovJMD9D/TVdo4TIK8u5Sti11764sZT1DhI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/certificate.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- <script src="../assets/app/custom/general/dashboard.js" type="text/javascript"></script> -->
    <!--end::Page Scripts -->
    <!--begin::Global App Bundle(used by all pages) -->
    <script src="../assets/app/bundle/app.bundle.js" type="text/javascript"></script>
    <!-- <script src="../assets/app/custom/general/components/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script> -->

    <!--end::Global App Bundle -->
</body>
<!-- end::Body -->

</html>